extends layout

block content
    div(class="cbh-section") 
        div(id="instructions") Enter your zip code to find restaurants and bars near you
        span(id="search-span")
            input(id="search-box" type="text")
            span(id="gps-icon")
                i(class="fa fa-crosshairs" aria-hidden="true" data-toggle="tooltip" data-placement="top" id="get-location" title="Use my current location")
        input(id="search-button" type="button" value="Search" disabled)