doctype html
html
    head
        title freeCodeCamp Nightlife Coordination App
        link(rel="stylesheet" href="/stylesheets/bootstrap.css")
        //-Remember to load our own CSS AFTER Bootstrap so we can override it.
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
        //-Favicon
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
body
    main(class="container main-container") 
        block content